USE [master]
GO
/****** Objeto: Database [ODS_PARKING] Fecha de script: 31/05/2026 20:54:41 ******/
CREATE DATABASE [ODS_PARKING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ODS_PARKING', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ODS_PARKING.mdf' , SIZE = 270336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ODS_PARKING_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ODS_PARKING_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ODS_PARKING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ODS_PARKING]
GO
/****** Objeto: View [dbo].[D_UBIGEO] Fecha de script: 31/05/2026 20:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- DIMENSION UBIGEO
CREATE VIEW [dbo].[D_UBIGEO] AS
SELECT * FROM [BD_PARKING].[dbo].[TB_UBIGEO]
GO
/****** Objeto: View [dbo].[D_VEHICULO] Fecha de script: 31/05/2026 20:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- DIMENSION VEHICULO
CREATE VIEW [dbo].[D_VEHICULO] AS
SELECT * FROM [BD_PARKING].[dbo].[TB_VEHICULO]
GO
/****** Objeto: Table [dbo].[D_HORA_INGRESO] Fecha de script: 31/05/2026 20:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_HORA_INGRESO](
	[HORA_ENTRADA] [int] NULL,
	[TRAMO] [varchar](50) NULL,
	[HORA] [int] NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[D_RANGO_EDAD] Fecha de script: 31/05/2026 20:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_RANGO_EDAD](
	[RGEDAD] [int] NULL,
	[RangoEdad] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[D_RANGO_INGRESO] Fecha de script: 31/05/2026 20:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_RANGO_INGRESO](
	[RGINGRESO] [int] NULL,
	[RangOIngreso] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[D_SEXO] Fecha de script: 31/05/2026 20:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_SEXO](
	[CODSEXO] [char](1) NULL,
	[SEXO] [varchar](25) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FACT_BASE] Fecha de script: 31/05/2026 20:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_BASE](
	[PLACA] [varchar](53) NULL,
	[FECHA] [date] NULL,
	[PUERTA_ENTRADA] [varchar](50) NULL,
	[PUERTA_SALIDA] [varchar](50) NULL,
	[HORA_ENTRADA] [time](7) NULL,
	[HORA_SALIDA] [time](7) NULL,
	[PERMANENCIA_MINUTOS] [int] NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FACT_ENRIQUECIDA] Fecha de script: 31/05/2026 20:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_ENRIQUECIDA](
	[PLACA] [varchar](53) NULL,
	[FECHA] [date] NULL,
	[PUERTA_ENTRADA] [varchar](50) NULL,
	[PUERTA_SALIDA] [varchar](50) NULL,
	[TIPOCLIENTE] [varchar](50) NULL,
	[HORA_INGRESO] [time](7) NULL,
	[HORA_SALIDA] [time](7) NULL,
	[PERMANENCIA_MINUTOS] [int] NULL,
	[PAGO_ESTIMADO] [int] NULL,
	[CANTIDAD_VISITAS] [int] NOT NULL,
	[DOCUMENTO] [varchar](53) NULL,
	[SEXO] [varchar](50) NULL,
	[FECHA_NACIMIENTO] [date] NULL,
	[EDAD] [int] NULL,
	[INGRESO] [float] NULL,
	[UBIGEO] [varchar](50) NULL,
	[MARCA] [varchar](250) NULL,
	[MODELO] [varchar](250) NULL,
	[TIPO] [varchar](50) NULL,
	[AÑO] [varchar](50) NULL,
	[HORA_ENTRADA_NUMERICA] [int] NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PARKING_ENTRADAS] Fecha de script: 31/05/2026 20:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARKING_ENTRADAS](
	[RN] [bigint] NULL,
	[PLACA] [varchar](53) NULL,
	[FECHA] [date] NULL,
	[PUERTA] [varchar](50) NULL,
	[HORA_ENTRADA] [time](7) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PARKING_SALIDAS] Fecha de script: 31/05/2026 20:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARKING_SALIDAS](
	[RN] [bigint] NULL,
	[PLACA] [varchar](53) NULL,
	[FECHA] [date] NULL,
	[PUERTA] [varchar](50) NULL,
	[HORA_SALIDA] [time](7) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[STG_FLUJO_VEHICULAR] Fecha de script: 31/05/2026 20:54:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_FLUJO_VEHICULAR](
	[PLACA] [varchar](53) NULL,
	[PUERTA] [varchar](50) NULL,
	[TIPOCLIENTE] [varchar](50) NULL,
	[FECHA] [date] NULL,
	[HORA] [time](7) NULL,
	[DIRECCION] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_ENTRADAS] Fecha de script: 31/05/2026 20:54:42 ******/
CREATE NONCLUSTERED INDEX [IX_ENTRADAS] ON [dbo].[PARKING_ENTRADAS]
(
	[PLACA] ASC,
	[FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_SALIDAS] Fecha de script: 31/05/2026 20:54:42 ******/
CREATE NONCLUSTERED INDEX [IX_SALIDAS] ON [dbo].[PARKING_SALIDAS]
(
	[PLACA] ASC,
	[FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
