USE [master]
GO
/****** Objeto: Database [BD_PARKING] Fecha de script: 31/05/2026 20:52:27 ******/
CREATE DATABASE [BD_PARKING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_COCHERA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_COCHERA.mdf' , SIZE = 382976KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BD_COCHERA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_COCHERA_log.ldf' , SIZE = 833024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_PARKING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_PARKING]
GO
/****** Objeto: Table [dbo].[TB_CLIENTE] Fecha de script: 31/05/2026 20:52:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CLIENTE](
	[SEXO] [varchar](50) NULL,
	[FECHANACIMIENTO] [varchar](50) NULL,
	[UBIGEO] [varchar](50) NULL,
	[INGRESO] [float] NULL,
	[DOCUMENTO] [varchar](53) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TB_DOCUMENTO_PLACA] Fecha de script: 31/05/2026 20:52:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_DOCUMENTO_PLACA](
	[PLACA] [varchar](53) NULL,
	[DOCUMENTO] [varchar](53) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TB_FLUJO_VEHICULAR] Fecha de script: 31/05/2026 20:52:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_FLUJO_VEHICULAR](
	[PLACA] [varchar](53) NULL,
	[PUERTA] [varchar](50) NULL,
	[TIPOCLIENTE] [varchar](50) NULL,
	[Fecha] [varchar](50) NULL,
	[Hora] [varchar](50) NULL,
	[DIRECCION] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TB_UBIGEO] Fecha de script: 31/05/2026 20:52:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_UBIGEO](
	[UBIGEO] [nvarchar](255) NULL,
	[DEPARTAMENTO] [nvarchar](255) NULL,
	[PROVINCIA] [nvarchar](255) NULL,
	[DISTRITO] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TB_VEHICULO] Fecha de script: 31/05/2026 20:52:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_VEHICULO](
	[AÑO] [varchar](50) NULL,
	[MARCA] [varchar](250) NULL,
	[MODELO] [varchar](250) NULL,
	[TIPO] [varchar](50) NULL,
	[PLACA] [varchar](53) NULL
) ON [PRIMARY]
GO
USE [master]
GO
