USE [master]
GO
/****** Objeto: Database [BDS_PARKING] Fecha de script: 31/05/2026 20:53:17 ******/
CREATE DATABASE [BDS_PARKING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDS_PARKING', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDS_PARKING.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDS_PARKING_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDS_PARKING_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDS_PARKING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDS_PARKING]
GO
/****** Objeto: Table [dbo].[D_FECHA] Fecha de script: 31/05/2026 20:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_FECHA](
	[FECHA] [varchar](50) NULL,
	[AÑO] [int] NULL,
	[MONTH] [int] NULL,
	[MES] [nvarchar](30) NULL,
	[SEMANA] [nvarchar](30) NULL,
	[DIA] [int] NULL,
	[DIA_SEMANA] [nvarchar](30) NULL
) ON [PRIMARY]
GO
USE [master]
GO
