USE [master]
GO
/****** Objeto: Database [DW_PARKING] Fecha de script: 31/05/2026 20:53:51 ******/
CREATE DATABASE [DW_PARKING]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW_PARKING', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DW_PARKING.mdf' , SIZE = 85530624KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW_PARKING_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DW_PARKING_log.ldf' , SIZE = 1511360KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW_PARKING].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW_PARKING]
GO
/****** Objeto: Table [dbo].[DIM_UBIGEO] Fecha de script: 31/05/2026 20:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_UBIGEO](
	[ID_UBIGEO] [bigint] NULL,
	[UBIGEO] [nvarchar](255) NULL,
	[DEPARTAMENTO] [nvarchar](255) NULL,
	[PROVINCIA] [nvarchar](255) NULL,
	[DISTRITO] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DIM_TRAMO_HORARIO] Fecha de script: 31/05/2026 20:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_TRAMO_HORARIO](
	[ID_TRAMO] [int] IDENTITY(1,1) NOT NULL,
	[HORA] [int] NULL,
	[TRAMO] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DIM_CLIENTE] Fecha de script: 31/05/2026 20:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CLIENTE](
	[ID_CLIENTE] [bigint] NULL,
	[DOCUMENTO] [varchar](53) NULL,
	[SEXO] [varchar](50) NULL,
	[FECHA_NACIMIENTO] [date] NULL,
	[EDAD] [int] NULL,
	[RANGO_EDAD] [varchar](8) NOT NULL,
	[INGRESO] [float] NULL,
	[RANGO_INGRESO] [varchar](7) NOT NULL,
	[UBIGEO] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DIM_FECHA] Fecha de script: 31/05/2026 20:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_FECHA](
	[ID_FECHA] [bigint] NULL,
	[FECHA] [date] NULL,
	[AÑO] [int] NULL,
	[TRIMESTRE] [int] NULL,
	[MES] [int] NULL,
	[NOMBRE_MES] [nvarchar](30) NULL,
	[SEMANA] [int] NULL,
	[DIA] [int] NULL,
	[DIA_SEMANA] [nvarchar](30) NULL,
	[TIPO_DIA] [varchar](13) NOT NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DIM_VEHICULO] Fecha de script: 31/05/2026 20:53:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_VEHICULO](
	[ID_VEHICULO] [bigint] NULL,
	[PLACA] [varchar](53) NULL,
	[MARCA] [varchar](250) NULL,
	[MODELO] [varchar](250) NULL,
	[TIPO] [varchar](50) NULL,
	[AÑO] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DIM_TIPO_CLIENTE] Fecha de script: 31/05/2026 20:53:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_TIPO_CLIENTE](
	[ID_TIPO_CLIENTE] [bigint] NULL,
	[TIPOCLIENTE] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DIM_PUERTA] Fecha de script: 31/05/2026 20:53:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PUERTA](
	[ID_PUERTA] [bigint] NULL,
	[PUERTA] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[VW_FACT_FLUJO_VEHICULAR] Fecha de script: 31/05/2026 20:53:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_FACT_FLUJO_VEHICULAR]
AS

SELECT

    DF.ID_FECHA,
    DC.ID_CLIENTE,
    DU.ID_UBIGEO,
    DV.ID_VEHICULO,
    DP.ID_PUERTA,
    DTC.ID_TIPO_CLIENTE,
    DTH.ID_TRAMO,

    F.PLACA,

    F.HORA_INGRESO,
    F.HORA_SALIDA,

    F.PERMANENCIA_MINUTOS,

    F.PAGO_ESTIMADO,

    F.CANTIDAD_VISITAS

FROM ODS_PARKING.dbo.FACT_ENRIQUECIDA F

LEFT JOIN DIM_FECHA DF
ON F.FECHA = DF.FECHA

LEFT JOIN DIM_CLIENTE DC
ON F.DOCUMENTO = DC.DOCUMENTO

LEFT JOIN DIM_UBIGEO DU
ON DC.UBIGEO = DU.UBIGEO

LEFT JOIN DIM_VEHICULO DV
ON F.PLACA = DV.PLACA

LEFT JOIN DIM_PUERTA DP
ON F.PUERTA_ENTRADA = DP.PUERTA

LEFT JOIN DIM_TIPO_CLIENTE DTC
ON F.TIPOCLIENTE = DTC.TIPOCLIENTE

LEFT JOIN DIM_TRAMO_HORARIO DTH
ON F.HORA_ENTRADA_NUMERICA = DTH.HORA

GO
USE [master]
GO
